<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社交关系可视化 🔹 用户 PageRank 影响力分析</title>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bgc.css') }}">
</head>
<body>
    <iframe src="{{ url_for('static', filename='星空.html') }}"></iframe>
    <h1>社交关系可视化 🔹 用户 PageRank 影响力分析</h1>

    <button id="back-button" onclick="window.location.href='{{ url_for('index') }}'">🔙 BACK</button>

    <div id="chart"></div>
    <div id="top10-container">
        <h2>🏆 PageRank Top 10</h2>
        <ol id="top10-list"></ol>
    </div>

    <script src="{{ url_for('static', filename='pagerank.js') }}"></script>
</body>
</html>
