<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社交关系可视化 🔹 用户传播性分析</title>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='hits.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>用户 HITS 影响力分析</h1>

    <button id="back-button" onclick="window.location.href='{{ url_for('index') }}'">🔙 BACK</button>

<br>
    <label for="community-selector">选择社区:</label>
    <select id="community-selector">
        <!-- 根据数据动态生成社区选项 -->
    </select>

    <label for="sort-method">排序方式:</label>
    <select id="sort-method">
        <option value="authority">Authority</option>
        <option value="hub">Hub</option>
    </select>

    <label for="size-method">节点大小:</label>
    <select id="size-method">
        <option value="authority">Authority</option>
        <option value="hub">Hub</option>
    </select>
    <div id="chart" style="height: 950px"> </div>
    <div id="top10-container">
        <h2>HITS Top 10 用户</h2>
        <ul id="top10-list"></ul>
    </div>

</body>
</html>
