<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社交关系可视化 🔹 好友量分布</title>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>社交关系可视化 🔹 好友量分布</h1>

    <button id="back-button" onclick="window.location.href='{{ url_for('index') }}'">🔙 BACK</button>

    <div id="chart"></div>
    <script src="{{ url_for('static', filename='friend_distribution.js') }}"></script>
</body>
</html>
